ul.customers-list{
  background: rgba(0,0,0,0.15);
 -webkit-box-shadow: 0px 0px 10px 0px rgba(0,0,0,0.35);
 -moz-box-shadow: 0px 0px 10px 0px rgba(0,0,0,0.35);
 box-shadow: 0px 0px 10px 0px rgba(0,0,0,0.35);

 .list-header{
   font-weight: bold;
   padding: 8px 4px;
   cursor: default;
   border-radius: 4px 4px 0px 0px;
   background: #eee;
 }

 li{
   padding: 16px 4px;
   margin: 4px 0px;
   background: #FFF;
   display: flex;
   justify-content: space-between;
   flex-wrap: wrap;
   cursor: pointer;
   
   span{
     padding: 0px 2px;
   }
 }
 li+li{
   border-top: 1px solid #CCC;
 }

 .empty{
    color: #666;
    text-align: center;
    display: block;
 }
}